.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.button1 {
padding: 0px 7px;
background-color: #289533;
color: #fff;
font-size: 20px;
border: none;
border-radius: 50%; /* Make the border-radius 50% to create a round shape */
cursor: pointer;
transition: background-color 0.3s ease;
}

.custom-dropdown-btn {
background-color: #aaec9c; /* Blue background color */
color: #fbfafa;
font-size: 18px;
padding: 5px 10px; }

.custom-dropdown-menu {
    /* Add custom styles for the dropdown button and menu */
    background-color: #aaec9c;
    color: black;
    font-size: 16px;
    padding: 8px 20px;
}
.custom-dropdown-menu:active {
  background-color: #26a43d;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
};